<div class="lg:mx-20">
  <h1 class="text-xl text-sky-800 font-medium my-5">Party List</h1>
  <table mat-table [dataSource]="userList">

    <ng-container matColumnDef="PARTY_NAME">
      <th mat-header-cell *matHeaderCellDef>Party Name</th>
      <td mat-cell *matCellDef="let user">
        <p class="w-[120px]"> {{user.PARTY_NAME}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="PARTY_CODE">
      <th mat-header-cell *matHeaderCellDef>Party Code</th>
      <td mat-cell *matCellDef="let user">
        <p class="w-[60px] lg:w-full"> {{user.PARTY_CODE}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="EMAIL_ADDRESS">
      <th mat-header-cell *matHeaderCellDef>Email Address</th>
      <td mat-cell *matCellDef="let user">
        <p> {{user.EMAIL_ADDRESS}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="MOBILE_NUMBER">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let user">
        <p> {{user.MOBILE_NUMBER}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-button [matMenuTriggerFor]="menu"><fa-icon [icon]="faEllipsisVertical"></fa-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['editparty']"
            [queryParams]="{ name: user.PARTY_NAME, id: user.PARTY_CODE, email: user.EMAIL_ADDRESS, no: user.MOBILE_NUMBER }">
            <mat-icon>edit</mat-icon>
            <span>EDIT</span>
          </button>
          <button mat-menu-item><mat-icon>delete_forever</mat-icon>
            <span>DELETE</span></button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 5, 25, length]" aria-label="Select page">
  </mat-paginator>
</div>