<div class="lg:mx-20">
  <div class="flex justify-between h-20 items-center">
    <h1 class="text-xl text-sky-800 font-medium my-5">Party List</h1>
    <button [routerLink]="['/','createparty']" class="px-5 py-1 shadow bg-sky-100 rounded-full text-sky-800">Add
      Data</button>
  </div>

  <table mat-table [dataSource]="partyList">

    <ng-container matColumnDef="PARENT_PARTY_CODE">
      <th mat-header-cell *matHeaderCellDef>Party Name</th>
      <td mat-cell *matCellDef="let party">
        <p class="w-[120px]"> {{party.PARENT_PARTY_CODE}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="PARTY_CODE">
      <th mat-header-cell *matHeaderCellDef>Party Code</th>
      <td mat-cell *matCellDef="let party">
        <p class="w-[60px] lg:w-full"> {{party.PARTY_CODE}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="EMAIL_ADDRESS">
      <th mat-header-cell *matHeaderCellDef>Email Address</th>
      <td mat-cell *matCellDef="let party">
        <p> {{party.EMAIL_ADDRESS}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="MOBILE_NUMBER">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let party">
        <p> {{party.MOBILE_NUMBER}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="ACTIVE_CODE">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let party">
        <p class="p-2 rounded bg-gray-100 flex justify-center w-fit"
          (click)="openDialog(party.PARTY_CODE, party.PARENT_PARTY_CODE, party.ACTIVE_CODE)">{{party.ACTIVE_CODE}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let party">
        <button mat-button [matMenuTriggerFor]="menu"><fa-icon [icon]="faEllipsisVertical"></fa-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['editparty']"
            [queryParams]="{ name: party.PARTY_NAME, id: party.PARTY_CODE, email: party.EMAIL_ADDRESS, no: party.MOBILE_NUMBER }">
            <mat-icon>edit</mat-icon>
            <span>EDIT</span>
          </button>
          <button mat-menu-item (click)="deleteParty(party)">
            <mat-icon>delete_forever</mat-icon>
            <span>DELETE</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 5, 25, length]" aria-label="Select page">
  </mat-paginator>
</div>