<div class="lg:mx-20">
    <h1 class="text-xl text-sky-800 font-medium my-5">Edit Party</h1>
    <form #editPartyForm="ngForm" (ngSubmit)="onSubmit(editPartyForm)" class="flex flex-col gap-5 text-gray-500">
        <div class="p-10 bg-sky-50 shadow rounded-xl">
            <h1 class="mb-3 text-sky-800 text-shadow-md font-medium">Party Information</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <div class="flex flex-col gap-1">
                    <div class="flex justify-between">
                        <label class="text-xs" for="partyCode">Party Code</label>
                        <p *ngIf="(partyCodeRef.touched || editPartyForm.submitted) && partyCodeRef.invalid && partyCodeRef.errors?.['required']"
                            style="color:red; margin:0; font-size: x-small;">
                            Party Code is Required*
                        </p>
                    </div>
                    <input type="text" name="partyCode" #partyCodeRef="ngModel" [(ngModel)]="partyCode" required
                        minlength="1"
                        [ngClass]="{'ring-red-500 ring-2': partyCodeRef.invalid && partyCodeRef.touched,'focus:ring-blue-500': !(partyCodeRef.invalid && partyCodeRef.touched)}"
                        class="shadow md:p-2 p-1 rounded border border-gray-50 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="flex flex-col gap-1">
                    <div class="flex justify-between">
                        <label class="text-xs" for="partyName">Party Name</label>
                        <p *ngIf="(partyNameRef.touched || editPartyForm.submitted) &&partyNameRef.invalid  && partyNameRef.errors?.['required']"
                            style="color:red; margin:0; font-size: x-small;">
                            Party Name is Required*
                        </p>
                    </div>
                    <input type="text" name="partyName" #partyNameRef="ngModel" [(ngModel)]="partyName" required
                        minlength="1"
                        [ngClass]="{'ring-red-500 ring-2': partyNameRef.invalid && partyNameRef.touched,'focus:ring-blue-500': !(partyNameRef.invalid && partyNameRef.touched)}"
                        class="shadow md:p-2 p-1 rounded border border-gray-50 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="flex flex-col gap-1">
                    <div class="flex justify-between">
                        <label class="text-xs" for="partyEmail">Email Address</label>
                        <p *ngIf="(partyEmailRef.touched || editPartyForm.submitted) && partyEmailRef.invalid && partyEmailRef.errors?.['required']"
                            style="color:red; margin:0; font-size: x-small;">
                            Party Email is Required*
                        </p>
                    </div>
                    <input type="email" name="partyEmail" #partyEmailRef="ngModel" [(ngModel)]="partyEmail" required
                        minlength="1"
                        [ngClass]="{'ring-red-500 ring-2': partyEmailRef.invalid && partyEmailRef.touched,'focus:ring-blue-500': !(partyEmailRef.invalid && partyEmailRef.touched)}"
                        class="shadow md:p-2 p-1 rounded border border-gray-50 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="flex flex-col gap-1">
                    <div class="flex justify-between">
                        <label class="text-xs" for="partyMobile">Mobile Number</label>
                        <div class="text-red-500 text-[10px] m-0 space-y-0">
                            <p
                                *ngIf="(partyMobileRef.touched || editPartyForm.submitted) && partyMobileRef.invalid && partyMobileRef.errors?.['required']">
                                Mobile Number is Required*
                            </p>
                            <p
                                *ngIf="(partyMobileRef.touched || editPartyForm.submitted) && partyMobileRef.invalid && (partyMobileRef.errors?.['minlength'] || partyMobileRef.errors?.['maxlength'])">
                                Mobile No. Should be 10 Digits*
                            </p>
                        </div>
                    </div>
                    <input type="text" id="partyMobile" name="partyMobile" #partyMobileRef="ngModel"
                        [(ngModel)]="partyMobile" required minlength="10" maxlength="10"
                        [ngClass]="{'ring-red-500 ring-2': partyMobileRef.invalid && partyMobileRef.touched,'focus:ring-blue-500': !(partyMobileRef.invalid && partyMobileRef.touched)}"
                        class="shadow md:p-2 p-1 rounded border border-gray-50 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
            </div>
        </div>
        <div class="flex w-full justify-center gap-3">
            <button [routerLink]="['/', 'partylist']" (click)="editPartyForm.invalid" class="px-10 py-2 bg-sky-500 rounded-full text-white">Go Back</button>
            <button type="submit"
                class="px-10 py-2 bg-sky-500 rounded-full text-white disabled:bg-sky-300 disabled:cursor-not-allowed">Update</button>
        </div>
    </form>
</div>