<section class="w-full flex gap-10 items-center justify-center mx-auto sm:px-10 h-[100vh] bg-sky-100">
    <div class="sm:flex sm:flex-col sm:gap-5 sm:items-center hidden">
        <img src="/bank_image1.jpg" alt="img" class="w-125 rounded-2xl shadow">
    </div>
    <div class="flex flex-col items-center text-end gap-8 sm:me-10 md:me-0">
        <div>
            <h1 class="text-3xl font-bold text-sky-400">Welcome, Back</h1>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="w-60 lg:w-80 flex flex-col gap-2 text-sm">
            <input type="text" name="orgCode" #orgCodeRef="ngModel" [(ngModel)]="orgCode" required
                placeholder="Organization Code" minlength="1" maxlength="255"
                [ngClass]="{'ring-red-500 ring-2': orgCodeRef.invalid && orgCodeRef.touched,'focus:ring-blue-500': !(orgCodeRef.invalid && orgCodeRef.touched)}"
                class="py-2 px-4 shadow rounded-full bg-white placeholder:opacity-35 placeholder:bg-white focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <p *ngIf="(loginForm.submitted || orgCodeRef.touched) && orgCodeRef.invalid && orgCodeRef.errors?.['required']" style="color:red; margin:0; font-size: xx-small;">
                Organization Code is Required
            </p>
            <input type="text" name="loginId" [(ngModel)]="loginId" #loginIdRef="ngModel" required minlength="1"
                maxlength="255" placeholder="Login ID"
                [ngClass]="{'ring-red-500 ring-2': loginIdRef.invalid && loginIdRef.touched,'focus:ring-blue-500': !(loginIdRef.invalid && loginIdRef.touched)}"
                class="py-2 px-4 shadow rounded-full bg-white placeholder:opacity-35 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <p *ngIf="(loginForm.submitted || loginIdRef.touched) && loginIdRef.invalid && loginIdRef.errors?.['required']" style="color:red; margin:0; font-size: xx-small;">
                Login ID is Required
            </p>
            <input [type]="showPassword ? 'text' : 'password'" name="keyword" [(ngModel)]="keyword" #keywordRef="ngModel"
                required minlength="1" placeholder="Password"
                [ngClass]="{'ring-red-500 ring-2': keywordRef.invalid && keywordRef.touched,'focus:ring-blue-500': !(keywordRef.invalid && keywordRef.touched)}"
                class="py-2 px-4 shadow rounded-full bg-white placeholder:opacity-35 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <p *ngIf="(loginForm.submitted || keywordRef.touched) && keywordRef.invalid && keywordRef.errors?.['required']" style="color:red; margin:0; font-size: xx-small;">
                Password is Required
            </p>

            <div class="text-sm opacity-35 flex justify-start mx-3">
                <label class="flex items-center gap-1 text-xs">
                    <input type="checkbox" (click)="togglePasswordVisibility()" />{{showPassword?'Hide':'Show'}}
                    Password
                </label>
            </div>
            <button type="submit"
                class="p-2 rounded-full shadow bg-sky-500 text-white hover:cursor-pointer disabled:bg-sky-300 disabled:cursor-not-allowed"
                >
                Login
            </button>
            <div class="flex justify-center text-sm gap-1">
                <p class="opacity-35">Create new account?</p>
                <button [routerLink]="'/register'" class="text-sky-500">Register</button>
            </div>
        </form>
        <div [class]="error?'bg-red-100 rounded text-red-500 p-2 text-xs opacity-80':''">
            {{error}}
        </div>
    </div>
</section>
<router-outlet></router-outlet>