<div class="lg:mx-20">
  <h1 class="text-xl text-sky-800 font-medium my-5">User List</h1>
  <table mat-table [dataSource]="userList">

    <ng-container matColumnDef="PARTY_NAME">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user"> {{user.PARTY_NAME}} </td>
    </ng-container>

    <ng-container matColumnDef="ACTIVE_CODE">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let user"> {{user.ACTIVE_CODE}} </td>
    </ng-container>

    <ng-container matColumnDef="PARTY_CODE">
      <th mat-header-cell *matHeaderCellDef>Party Code</th>
      <td mat-cell *matCellDef="let user"> {{user.PARTY_CODE}} </td>
    </ng-container>

    <ng-container matColumnDef="MOBILE_NUMBER">
      <th mat-header-cell *matHeaderCellDef>Party Name</th>
      <td mat-cell *matCellDef="let user"> {{user.MOBILE_NUMBER}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button class="bg-amber-300 text-white p-1 text-xs rounded hover:bg-amber-500 me-2">Edit</button>
        <button class="bg-red-300 text-white p-1 text-xs rounded hover:bg-red-500">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>

  </table>

  <mat-paginator [length]="100" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
  (page)="onPageChange($event)">
  </mat-paginator>

</div>